@model HardwareStore.Models.RolesModel

@{
    ViewData["Title"] = "Delete";
    ViewData["TitlePage"] = "Eliminar rol";
}

<section class="bg-white py-3 px-4 container rounded-2" style="max-width:800px;">
    <h3>¿Estas seguro de Eliminar este rol?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name_Rol)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name_Rol)
            </dd>
        </dl>

        <form asp-action="Delete">
            <button type="submit" class="btn btn-danger">Eliminar <i class="lni lni-trash-can"></i></button>
            <a class="btn btn-primary" asp-action="Index">Volver a la lista <i class="lni lni-arrow-left"></i></a>
        </form>
    </div>
</section>
